{% extends "base.html" %}

{% block title %}Placeholder{% endblock %}

{% block main %}

<div id="scrollable" style="overflow-y: scroll; height:350px;">

    <div class="container" id="pageNameContainer">
        <h2 id="pageTitle">Placeholder title</h2>
        <hr style="width:50%; margin-left: auto; margin-right: auto;">
    </div>

    <div class="container" id="queryContainer">
        <p id="query">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="container" id="wikiContainer">
        <blockquote class="blockquote text-center">
            <p id="wikiExtract">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <footer id="wikiLink" class="blockquote-footer">Learn more on
                <cite>
                    <a id="" title="Wikipedia" href="">Wikipedia</a>
                </cite>
            </footer>
        </blockquote>
        <hr>
    </div>

</div>

<div class="container">
    <label for="searchbar">
        <input type="text" id="searchbar" class="searchbar" placeholder="Search..." autocomplete="off">
    </label>
    <hr>
</div>

<div class="container">
    <!--The div element for the map -->
    <div id="map"></div>
</div>


{% endblock %}


{% block script %}
<script>

let scrollDiv = document.getElementById("scrollable");

function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: { lat: -34.397, lng: 150.644 },
    });
    const geocoder = new google.maps.Geocoder();

    document.getElementById("searchbar").addEventListener('keypress', (e) => {
    if (e.key === 'Enter') {
        let input = document.getElementById("searchbar").value;
        $("#searchbar:text").val('');
        submitInput(input)
        .then(data => {
            formatNewSearch(data)
            }
        )
        }
    });
}

async function submitInput(input) {
    const response = await fetch('/search', {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(input),
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    });

    return response.json();
}

function formatNewSearch(new_search) {
    console.log(new_search);
    for (let prop in new_search) {
        console.log(prop)
    }

    let queryTemplate = $("#queryContainer").clone().removeAttr("id");
    $('#query', queryTemplate).replaceWith("<p>" + new_search.query + "</p>");
    new_search.query = queryTemplate;

    let titleTemplate = $("#pageNameContainer").clone().removeAttr("id");
    $('#pageTitle', titleTemplate).replaceWith("<h2>" + new_search.wikiTitle + "</h2>");
    new_search.wikiTitle = titleTemplate;

    let extractTemplate = $("#wikiContainer").clone().removeAttr("id");
    $('#wikiExtract', extractTemplate).replaceWith("<p>" + new_search.wikiExtract + "</p>");
    new_search.wikiExtract = extractTemplate;

    updateSearchScreen(new_search)
}

function updateSearchScreen(new_search) {
    new_search.wikiTitle.appendTo("#scrollable");
    new_search.query.appendTo("#scrollable");
    new_search.wikiExtract.appendTo("#scrollable");
    scrollDiv.scrollTop = scrollDiv.scrollHeight;
}


</script>
{% endblock %}